.language {
    margin-top: 10px !important;
    margin-left: 10px !important;
}

div.form {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

div.form .title {
    margin-right: 10px;
}

div.form .description {
    flex: 1 1 400px;
    margin-right: 10px;
}

div.form .submitbutton {
    margin-top: 15px;
}
