* {
  font-family: "IBM Plex Sans", sans-serif !important;
}

.AppToolbar {
  background: #444;
  flex-wrap: wrap;
}

.AppToolbar a {
  text-decoration: none;
}

.AppToolbar a h1,
.AppToolbar button span,
.AppToolbar button span a {
  color: white !important;
  flex: 1 0 auto;
}

.AppToolbar p {
  padding: 3px 8px;
  color: black !important;
  background: white;
  border-radius: 13px;
  margin-right: 5px;
  margin-left: 5px;
}

.AppToolbar a h1 {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 6px;
  font-family: "IBM Plex Sans", sans-serif;
  text-transform: uppercase;
}

.spacer {
  flex-grow: 1;
}

.CatLogo {
  display: flex;
  align-items: center;
}

.CatLogo .img {
  width: 55px;
  height: 50px;
  margin-right: 8px;
  background-image: url(./assets/logo-03-01.svg);
  background-size: cover;
}

.subContainer {
  min-height: 100vh;
  background: #eee;
}

.cardButtons {
  flex-wrap: wrap;
}

@media only screen and (max-width: 600px) {
  .AppToolbar {
    flex-direction: column;
  }
}